/* SCROLLBAR
   ========================================================================== */	
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 10px;
}

/* BODY
   ========================================================================== */	
body{
	font-family: Raleway, "Open Sans", "Droid Sans", Roboto,arial, sans-serif;
	background:black;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* FOOTER
   ========================================================================== */
footer {
	color: #000000;
	line-height: 44px;
	font-family: Geovana;
}
footer p {
	margin: 20px;
	color: white;
	text-align: center;
	display: flex;
	position: fixed;
	top: 70%;
	left: 70%;
	z-index: -2;
}

/* FULL RESPONSIVE
   ========================================================================== */
   
/**
 * For devices +1200px
 */

@font-face{
	font-family: Geovana;
	src: url(../Geovana.otf);
}
	
/* BACKGROUND
   ========================================================================== */
.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/tlo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	opacity: 1;
	filter: opacity(100%);
	z-index: -3;
}
.blurred-bg.bialy, .blur {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));  
}

/* BOX
   ========================================================================== */
.box {
	width: 500px;
	height: 500px;
	left: calc( 45% - 200px );
	top: 20%;
	position: absolute;
	border-radius: 5px;
	box-shadow: 0 0px 230px rgba(255, 255, 255, 0.1);
	border: 2px solid rgba(255, 255, 255, 0.3);
	padding: 0px;
	text-align: center;
	box-sizing: border-box;
	display: flex;
	transition: box-shadow .3s ease;
	z-index: 1;
}
img{
	width: 200px;
	display: inline;
}
img:hover{
	transition: filter .25s ease;
	filter: drop-shadow(0px 0px 8px black);
}

/* TEXT
   ========================================================================== */
.bialy h1, .bialy h2, .bialy a, .bialy p {
	color: #A0A0A0;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}

/* ANIMATION
   ========================================================================== */
@keyframes blackWhiteFade {  
	0% {	
		color: #898989;
	}
	50% { 
		color: #CECECE;
	}
	100% { 
		color: #898989;
	}
}
@keyframes transparent {  
	0% { 
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
h1 {
	font-size: 34px;
	padding-bottom:5px;
	animation-name: blackWhiteFade;
	animation-iteration-count: infinite;  
	animation-duration: 2s; 
}
footer {
	animation: transparent 5s ease-in; 
	z-index: -2;
}
/* MOBLIE RESPONSIVE
   ========================================================================== */
   
/**
 * For Smarphones > 570px
 */	
@media only screen and (max-width: 570px) {
	
	/* BOX
		========================================================================== */	
	.box {	
		width: 100%;
		height: 1000px;
		left: 0;
		top: 0;
		margin: auto;
		position: relative;
		display: block;
		clear: both;
	}
	img {
		width: 300px;
		max-width: 100%;
		display: block;
	}
	.content{
		padding-left: calc( 25% - 40px );
	}
	/* FOOTER
		========================================================================== */
	footer p {
		display: block;
		position: relative;
		left: 0;
	}				
}