/* SCROLLBAR
   ========================================================================== */	
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 10px;
}

/* BODY
   ========================================================================== */	
body{
	font-family: Raleway, "Open Sans", "Droid Sans", Roboto,arial, sans-serif;
	background:black;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll;
}
.question{
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
input[type=radio] {
	position:relative;
	top:25px;
	padding-top:220px;
	display:block;
	width:1;
}
.hidden{
	visibility: hidden;
}
/* FOOTER
   ========================================================================== */
footer {
	color: #000000;
	line-height: 44px;
	font-family: Geovana;
}
footer p {
	margin: 20px;
	color: white;
	text-align: center;
	display: flex;
	position: fixed;
	top: 70%;
	left: 80%;
	z-index: -1;
}

/* FULL RESPONSIVE
   ========================================================================== */
   
/**
 * For devices +1200px
 */

@font-face{
	font-family: Geovana;
	src: url(../Geovana.otf);
}

/* BACKGROUND
   ========================================================================== */
.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/tlo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	opacity: 1;
	filter: opacity(100%);
	z-index: -3;
}
.blurred-bg.bialy, .blur {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));  
}

/* BOX
   ========================================================================== */
.box {
	width: 600px;
	height: inherit;
	left: calc( 50% - 300px );
	top: 20%;
	position: absolute;
	border-radius: 5px;
	box-shadow: 0 0px 230px rgba(255, 255, 255, 0.1);
	border: 2px solid rgba(255, 255, 255, 0.3);
	padding: 0px;
	padding-bottom:20px;
	text-align: center;
	box-sizing: border-box;
	margin-bottom:30px;
	display: flex;
	transition: box-shadow .3s ease;
}
.content{
	max-width: 100%;
	width:100%;
	margin: 0;
	display: block;
	word-wrap: break-word;
}
.img_content{
	margin-left: 15px;
	float: right;
	display: inline-block;
	clear: both;
	width: 300px;
}

/* NAWIGATION
   ========================================================================== */
.nav{
	width: 300px;
	height: 350px;
	left: calc( 12% - 150px );
	top: 20%;
	float: left;
	clear: both;
	box-sizing: border-box;
	position: fixed;
	vertical-align: middle;
}
.li{
	vertical-align: middle;
	width: 100%;  
	height: 50px;
	border-radius: 5px;
	clear: both;
	float: left;
	position: relative;
	text-align: left;
	display: table;
	margin-bottom: 5px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	text-decoration: none;
}
span.zdj {
	text-shadow: -2px 2px 2px rgba(0, 0, 0, 1);
	display: table-cell;
	color: white;
	font-family: arial, sans-serif;
	font-size: 30px;
	vertical-align: middle;
	text-align: center;
	padding-right: 40px;
}
span{
	text-shadow: -2px 2px 2px rgba(0, 0, 0, 1);
	display: table-cell;
	color: white;
	font-family: arial, sans-serif;
	font-size: 30px;
	vertical-align: middle;
	text-align: center;
}
.zdj_nav{
	width: 50px;
	padding-right:10px;
	display: inline-block;
	float: left;
	clear: both;
}
.zdj_nav:hover, li:hover{
	transition: filter .25s ease;
	filter: drop-shadow(0px 0px 8px black);
}

/* TEXT
   ========================================================================== */
.bialy h1, .bialy h2, .bialy a {
	color: #A0A0A0;
	text-shadow: 0 1px 1px rgba(255, 255, 255,);
}
.bialy p {
	color: #ffffff;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
    font-size: 18px;
}
h1 {
	font-size: 34px;
	padding-bottom: 5px;
}

/* ANIMATION
   ========================================================================== */
@keyframes transparent {  
	0% { 
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes move {  
	0% { 
		margin-top: 30px;
	}
	100% {
		margin-top: 0px;
	}
}
.background {
	animation: transparent 0.8s ease-out; 
}
.box {
	animation: transparent 0.8s ease-in, move 1s ease-out; 
}
.nav {
	animation: transparent 0.3s ease-in; 
}
footer {
	animation: transparent 5s ease-in; 
	z-index:-2;
}

/* FORMULARZ
========================================================================== */
form {
	display:block;
	position:relative;
	text-align:center;
}
input {
	margin-bottom: 16px;
	border-radius: 20px;
	border: 1px solid #DDDDDD;
	padding: 8px 0 8px 0;
	width: 50%;
	font-family: calibri;
}
input[type=button] {
	margin-bottom: 16px;
	border-radius: 30px;
	border: 1px solid #DDDDDD;
	padding: 5px 0 5px 0;
	width: 50%;
	font-family: calibri;
	font-size:2em;
}
select{
	border: 1px solid #DDDDDD;
	border-radius: 12px;
	height:40px;
	width:50%;
	margin-bottom: 16px;
}
textarea {
	margin-bottom: 16px;
	border-radius: 20px;
	border: 1px solid #DDDDDD;
	padding: 8px 0 8px 0;
	width: 50%;
	min-width: 50%;
	max-width: 80%;
	min-height:20px;
	max-height:200px;
	font-family: calibri;
}
form #pyt{
	position:relative;
	text-align:center;
	margin:0 auto;
}
form p:not([id]){
	color:white !important;
	text-shadow:none !important;
}
/* DODATKI
========================================================================== */
@keyframes progress1LeBronBar{
	0% {
		width: 15%;
	}
	100% {
		width: 34.2%;
	}
}
@keyframes progress2LeBronBar{
	0% {
		width: 15%;
	}
	100% {
		width: 50.2%;
	}
}
@keyframes progress3LeBronBar{
	0% {
		width: 15%;
	}
	100% {
		width: 74%;
	}
}
@keyframes progress4LeBronBar{
	0% {
		width: 15%;
	}
	100% {
		width: 38.9%;
	}
}
@keyframes progress1ozilBar{
	0% {
		width: 15%;
	}
	100% {
		width: 86%;
	}
}
#progressBarNadal{
    width: 200px;
	height: 100px;
	border: 1px solid grey;
    margin-left: 10%;
	margin-bottom:20px;
    float: left;
    border-radius: 5%;
}
#progressBar{
	width: 300px;
	height: 20px;
	border: 1px solid grey;
	border-radius: 20px;
	background: #4C4C4C;
}
#progressBar1LeBron{
    width: 100px;
	height: 100px;
	border: 1px solid grey;
	border-radius: 100%;
    margin-left: 20%;
	margin-bottom:20px;
    float: left;
}
#progressBar1ozil{
	width: 100px;
	height: 100px;
	border: 1px solid grey;
	border-radius: 100%;
    margin-left: 15%;
	margin-bottom:20px;
    float: left;
}
#progressBar2LeBron{
    width: 200px;
	height: 20px;
	border: 1px solid grey;
	border-radius: 20px;
	background: #4C4C4C;
    float: left;
    margin-left: 10%;
    margin-top: 30px;
}
#progressBar2ozil{
    width: 200px;
	height: 20px;
	border: 1px solid grey;
	border-radius: 20px;
	background: #4C4C4C;
    float: left;
    margin-left: 10%;
}
#prostokat{
    display: flex; 
    justify-content: center; 
    align-items: center;
	background: #c33434;
	height: 100%;
	width:100%;
	border-radius: 5%;
    font-size: 30px;
    color: white;
}
#circle{
	display: flex; 
    justify-content: center; 
    align-items: center;
	background: #c33434;
	height: 100%;
	width:100%;
	border-radius: 100%;
    font-size: 30px;
    color: white;
}
#pasek2LeBron_1{
	background: #c33434;
	height: 100%;
	width:34.2%;
	border-radius: 10px;
	animation: progress1LeBronBar 5s cubic-bezier(.26,2.2,.39,-0.74);
   
    color: white;
}
#pasek2LeBron_2{
	background: #c33434;
	height: 100%;
	width:50.2%;
	border-radius: 10px;
	animation: progress2LeBronBar 5s cubic-bezier(.08,.27,.94,.63);
    color: white;
}
#pasek2LeBron_3{
	background: #c33434;
	height: 100%;
	width:74%;
	border-radius: 10px;
	animation: progress3LeBronBar 5s cubic-bezier(.08,.27,.94,.63);
    color: white;
}
#pasek2LeBron_4{
	background: #c33434;
	height: 100%;
	width:38.9%;
	border-radius: 10px;
	animation: progress4LeBronBar 5s cubic-bezier(.08,.27,.94,.63);
    color: white;
}
#pasek2ozil_1{
	background: #c33434;
	height: 100%;
	width: 86%;
	border-radius: 20px;
	animation: progress1ozilBar 5s cubic-bezier(.08,.27,.94,.63);
    color: white;
}
#przedstawienie{
    font-family: Brush Script MT;
    font-size:90px;
    color:#ffffff;
}
#naglowek{
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;  
}
#LeBronnapis1{
	display:inline-block;
	margin-left:20%;
	float:left;
	color: white;
}
#ozilnapis1{
	display:inline-block;
	margin-left:9%;
	margin-bottom:10px;
	float:left;
	color:white;
}
#ozilnapis2{
	display:inline-block;
	margin-left:9%;
	margin-bottom:10px;
	float:left;
	color:white;
}
#napisNadal{
    display:inline-block;
    margin-left:16%;
    float:left;
    color: white;
    font-size: 20px;
}
/* MOBLIE RESPONSIVE
   ========================================================================== */
   
/**
 * For Tablets > 1200px
 */
@media only screen and (max-width: 1200px) {
	
	/* BODY
		========================================================================== */
	body {
		display: flex;
		flex-direction: column;
	}
	/* BOX
		========================================================================== */
	.box {	
		position: relative;
		height:inherit;
	}
	.content{
		display:block;
	}
	/* FORMULARZ
		========================================================================== */
	input {
		width: 100%;
		font-size:1.5em;
	}
	input[type=button] {
		padding: 15px 0 15px 0;
		width: 100%;
		font-size:2em;
	}
	form #pyt{
		width:100% !important;
		font-size:1.5em;
	}
	textarea {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		min-height:20px;
		max-height:200px;
		font-size:1.5em;
	}
	
	/* NAWIGATION
		========================================================================== */
	.nav{
		width: 600px;
		left: calc( 50% - 300px );
		top: 0;
		position: relative;
	}
	.li{
		clear: none;
		float: left;
		text-align: center;
		margin: 5px 0 5px 0;
	}
	footer p {
		display: block;
		position: relative;
		left: 0;
	}
	input[type=radio] {
		position:relative;
		top:0px;
		width:50px !important;
		display:inline-block;
		margin-left:50px;
		float:left;
		clear:left;
	}
	form.quiz p:not(:first-child){
		position:relative;
		float:left;
	}
	form.quiz p:first-child{
		position:static;
	}
}

/* MOBILE RESPONSIVE 
   ========================================================================== */
   
/**
 * For Smarphones > 570px
 */
 
@media only screen and (max-width: 600px) {		
	/* BOX
		========================================================================== */		
	.box {					
		width: 100%;
		height:inherit;
		left: 0;
		top: 0;
		padding-bottom:30px;
	}
	.img_content{
		max-width: 100%;
		height:auto;
		width:auto;
	}
	/* FORMULARZ
		========================================================================== */
	input {
		width: 100%;
	}
	input[type=button] {
		font-size:2em;
	}
	textarea {
		font-size:2em;
	}
	/* NAWIGACJA
		========================================================================== */
	.nav{
		width:100%;
		left: 0;
	}
	#circle{
		font-size: 20px;
	}
    #progressBarNadal{
		margin-top:-50px;
		margin-bottom:110px;
		width: 70px;
		height: 70px;
		margin-left: 0%;
		margin-right:20%;
		float: right;
		clear:right;
}
	#progressBar1LeBron{
		margin-top:-100px;
		margin-bottom:110px;
		width: 80px;
		height: 80px;
		margin-left: 0%;
		margin-right:20%;
		float: right;
		clear:right;
	}
	#progressBar1ozil{
		margin-top:-190px;
		margin-bottom:200px;
		width: 80px;
		height: 80px;
		margin-left: 0%;
		margin-right: calc(20% - 45px);
		float: right;
		clear: right;
	}
	#progressBar2LeBron{
		margin-top:-80px !important;
		margin-bottom:140px;
		width: 150px;
		height: 20px;
		margin-left: 0%;
		margin-right:0%;
		margin-top: 30px;
		float: right;
		clear:right;
	}
	#progressBar2ozil{
		margin-top:-80px !important;
		margin-bottom:140px;
		width: 150px;
		height: 20px;
		margin-left: 0%;
		margin-right:0%;
		margin-top: -150px !important;
		float: right;
		clear:right;
	}
	#LeBronnapis1{
		padding-bottom:60px;
		margin-left:1%;
		float:left;
		clear:left;
	}
	#ozilnapis1{
		padding-bottom:60px;
		margin-left:5%;
		float:left;
		clear:left;
	}
	#ozilnapis2{
		padding-bottom:60px;
		margin-left:5%;
		margin-top: -70px;
		float:left;
		clear:left;
	}
    #napisNadal{
        padding-bottom:10px;
		padding-top:90px;
		margin-left:1%;
		float:left;
		clear:left;
    }
	#naglowek{
		font-size: 49px;
	}
	input[type=radio] {
		position:relative;
		top:0px;
		width:50px !important;
		display:inline-block;
		margin-left:50px;
		float:left;
		clear:left;
	}
	form.quiz p:not(:first-child){
		position:relative;
		float:left;
	}
	form.quiz p:first-child{
		position:static;
	}
}